
.gdpr-bottom-box {
  width: 100%;
  bottom: 10px;
  position: fixed;
  padding: 10px 30px;
  text-align: center;
  z-index: 1000;
  left: 0;
}
.gdpr-bottom-box-cont {
  background-color: var(--gdpr-bg, #f7f7f7);
  box-shadow: 0 0 12px rgba(170, 170, 170, .2);
  background-clip: padding-box;
  border: 1px solid var(--gdpr-border, #e5e5e5);
  border-radius: 8px;
  max-width: 960px;
  display: block;
  margin: 0 auto;
  padding: 20px 30px;
}
.gdpr-bottom-box-cont p {
  line-height: 1.5em;
  color: var(--gdpr-text, #292929);
}
.gdpr-bottom-box button {
  outline: none;
  filter: none;
  box-shadow: none;
  text-shadow: none;
  white-space: nowrap;
  user-select: none;
  transition: color 0.4s, background 0.7s ease;
  cursor: pointer;
  background-color: var(--gdpr-button-bg, #d1d1d1);
  padding: 10px 20px;
  border: solid 1px var(--gdpr-button-border, #cbcbcb);
  border-radius: 6px;
  color: var(--gdpr-button-text, #212121);
}
.gdpr-bottom-box button:hover {
  background-color: var(--gdpr-button-bg-hover, #616161);
  color: var(--gdpr-button-text-hover, #fff);
}

@media (max-width: 767.98px) {
  .gdpr-bottom-box-cont {
    max-width: 100%;
  }
}

:where(#gdpr-box) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: auto;
}

:where(#gdpr-box).noshow {
  opacity: 0;
  pointer-events: none;
}
