

/* ROW ----- */

.g-row {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.g-row::after {
  content: "";
  clear: both;
  display: table;
}



/* COLUMNS ----- */

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  width: 100%;
  float: none;
  display: block;
  box-sizing: border-box;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .col1 {
    float: left;
    width: 8.33%;
  }
  .col2 {
    float: left;
    width: 16.66%;
  }
  .col3 {
    float: left;
    width: 25%;
  }
  .col4 {
    float: left;
    width: 33.33%;
  }
  .col5 {
    float: left;
    width: 41.66%;
  }
  .col6 {
    float: left;
    width: 50%;
  }
  .col7 {
    float: left;
    width: 58.33%;
  }
  .col8 {
    float: left;
    width: 66.66%;
  }
  .col9 {
    float: left;
    width: 75%;
  }
  .col10 {
    float: left;
    width: 83.33%;
  }
  .col11 {
    float: left;
    width: 91.66%;
  }
  .col12 {
    float: left;
    width: 100%;
  }
}



/* GUTTER ----- */

@media only screen and (min-width: 768px) {
  .g-row.gutter > .col1,
  .g-row.gutter > .col2,
  .g-row.gutter > .col3,
  .g-row.gutter > .col4,
  .g-row.gutter > .col5,
  .g-row.gutter > .col6,
  .g-row.gutter > .col7,
  .g-row.gutter > .col8,
  .g-row.gutter > .col9,
  .g-row.gutter > .col10,
  .g-row.gutter > .col11,
  .g-row.gutter > .col12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .g-row.gutter > :where(.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12):first-child {
    padding-left: 0;
  }

  .g-row.gutter > :where(.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12):last-child {
    padding-right: 0;
  }
}



/* OFFSET ----- */

@media only screen and (min-width: 768px) {
  .col-offset1 {
    margin-left: 8.33%;
  }
  .col-offset2 {
    margin-left: 16.66%;
  }
  .col-offset3 {
    margin-left: 25%;
  }
  .col-offset4 {
    margin-left: 33.33%;
  }
  .col-offset5 {
    margin-left: 41.66%;
  }
  .col-offset6 {
    margin-left: 50%;
  }
  .col-offset7 {
    margin-left: 58.33%;
  }
  .col-offset8 {
    margin-left: 66.66%;
  }
  .col-offset9 {
    margin-left: 75%;
  }
  .col-offset10 {
    margin-left: 83.33%;
  }
  .col-offset11 {
    margin-left: 91.66%;
  }
}



/* FLEX ALIGN ----- */

@media only screen and (min-width: 768px) {
  .g-row.flex-align {
    display: flex;
    align-items: center;
  }

  .g-row.flex-align::after {
    content: none;
  }

  .g-row.flex-align > .col1,
  .g-row.flex-align > .col2,
  .g-row.flex-align > .col3,
  .g-row.flex-align > .col4,
  .g-row.flex-align > .col5,
  .g-row.flex-align > .col6,
  .g-row.flex-align > .col7,
  .g-row.flex-align > .col8,
  .g-row.flex-align > .col9,
  .g-row.flex-align > .col10,
  .g-row.flex-align > .col11,
  .g-row.flex-align > .col12 {
    float: none;
  }

  .align-top {
    align-self: flex-start;
  }

  .align-middle {
    align-self: center;
  }

  .align-bottom {
    align-self: flex-end;
  }
}
